# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNBLE_LEFT
    def_bool $(shields_list_contains,cornble_left)

config SHIELD_CORNBLE_RIGHT
    def_bool $(shields_list_contains,cornble_right)
