#include <physical_layouts.dtsi>

/ {
    full_65_layout: full_65_layout {
        compatible = "zmk,physical-layout";
        display-name = "full_65_layout";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  125    0       0     0     0>
            , <&key_physical_attrs 100 100  225    0       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425    0       0     0     0>
            , <&key_physical_attrs 100 100  525    0       0     0     0>
            , <&key_physical_attrs 100 100  625    0       0     0     0>
            , <&key_physical_attrs 100 100  725    0       0     0     0>
            , <&key_physical_attrs 100 100  825    0       0     0     0>
            , <&key_physical_attrs 100 100  925    0       0     0     0>
            , <&key_physical_attrs 100 100 1025    0       0     0     0>
            , <&key_physical_attrs 100 100 1125    0       0     0     0>
            , <&key_physical_attrs 100 100 1225    0       0     0     0>
            , <&key_physical_attrs 100 100 1325    0       0     0     0>
            , <&key_physical_attrs 100 100 1425    0       0     0     0>
            , <&key_physical_attrs 100 100 1525    0       0     0     0>
            , <&key_physical_attrs 100 100 1625    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 150 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  275  100       0     0     0>
            , <&key_physical_attrs 100 100  375  100       0     0     0>
            , <&key_physical_attrs 100 100  475  100       0     0     0>
            , <&key_physical_attrs 100 100  575  100       0     0     0>
            , <&key_physical_attrs 100 100  675  100       0     0     0>
            , <&key_physical_attrs 100 100  775  100       0     0     0>
            , <&key_physical_attrs 100 100  875  100       0     0     0>
            , <&key_physical_attrs 100 100  975  100       0     0     0>
            , <&key_physical_attrs 100 100 1075  100       0     0     0>
            , <&key_physical_attrs 100 100 1175  100       0     0     0>
            , <&key_physical_attrs 100 100 1275  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 150 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1625  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 175 100  125  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100  700  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 225 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1625  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 125 100  125  300       0     0     0>
            , <&key_physical_attrs 100 100  250  300       0     0     0>
            , <&key_physical_attrs 100 100  350  300       0     0     0>
            , <&key_physical_attrs 100 100  450  300       0     0     0>
            , <&key_physical_attrs 100 100  550  300       0     0     0>
            , <&key_physical_attrs 100 100  650  300       0     0     0>
            , <&key_physical_attrs 100 100  750  300       0     0     0>
            , <&key_physical_attrs 100 100  850  300       0     0     0>
            , <&key_physical_attrs 100 100  950  300       0     0     0>
            , <&key_physical_attrs 100 100 1050  300       0     0     0>
            , <&key_physical_attrs 100 100 1150  300       0     0     0>
            , <&key_physical_attrs 100 100 1250  300       0     0     0>
            , <&key_physical_attrs 175 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1625  300       0     0     0>
            , <&key_physical_attrs 100 100    0  400       0     0     0>
            , <&key_physical_attrs 125 100  125  400       0     0     0>
            , <&key_physical_attrs 125 100  250  400       0     0     0>
            , <&key_physical_attrs 125 100  375  400       0     0     0>
            , <&key_physical_attrs 625 100  500  400       0     0     0>
            , <&key_physical_attrs 125 100 1125  400       0     0     0>
            , <&key_physical_attrs 125 100 1250  400       0     0     0>
            , <&key_physical_attrs 100 100 1425  400       0     0     0>
            , <&key_physical_attrs 100 100 1525  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  400       0     0     0>
            ;
    };

    tsangan_65_layout: tsangan_65_layout {
        compatible = "zmk,physical-layout";
        display-name = "TSANGAN";

        kscan = <&alt_kscan>;
        transform = <&alt_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  125    0       0     0     0>
            , <&key_physical_attrs 100 100  225    0       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425    0       0     0     0>
            , <&key_physical_attrs 100 100  525    0       0     0     0>
            , <&key_physical_attrs 100 100  625    0       0     0     0>
            , <&key_physical_attrs 100 100  725    0       0     0     0>
            , <&key_physical_attrs 100 100  825    0       0     0     0>
            , <&key_physical_attrs 100 100  925    0       0     0     0>
            , <&key_physical_attrs 100 100 1025    0       0     0     0>
            , <&key_physical_attrs 100 100 1125    0       0     0     0>
            , <&key_physical_attrs 100 100 1225    0       0     0     0>
            , <&key_physical_attrs 100 100 1325    0       0     0     0>
            , <&key_physical_attrs 100 100 1425    0       0     0     0>
            , <&key_physical_attrs 100 100 1525    0       0     0     0>
            , <&key_physical_attrs 100 100 1650    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 150 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  275  100       0     0     0>
            , <&key_physical_attrs 100 100  375  100       0     0     0>
            , <&key_physical_attrs 100 100  475  100       0     0     0>
            , <&key_physical_attrs 100 100  575  100       0     0     0>
            , <&key_physical_attrs 100 100  675  100       0     0     0>
            , <&key_physical_attrs 100 100  775  100       0     0     0>
            , <&key_physical_attrs 100 100  875  100       0     0     0>
            , <&key_physical_attrs 100 100  975  100       0     0     0>
            , <&key_physical_attrs 100 100 1075  100       0     0     0>
            , <&key_physical_attrs 100 100 1175  100       0     0     0>
            , <&key_physical_attrs 100 100 1275  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 150 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1650  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 175 100  125  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100  700  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 225 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1650  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 125 100  125  300       0     0     0>
            , <&key_physical_attrs 100 100  250  300       0     0     0>
            , <&key_physical_attrs 100 100  350  300       0     0     0>
            , <&key_physical_attrs 100 100  450  300       0     0     0>
            , <&key_physical_attrs 100 100  550  300       0     0     0>
            , <&key_physical_attrs 100 100  650  300       0     0     0>
            , <&key_physical_attrs 100 100  750  300       0     0     0>
            , <&key_physical_attrs 100 100  850  300       0     0     0>
            , <&key_physical_attrs 100 100  950  300       0     0     0>
            , <&key_physical_attrs 100 100 1050  300       0     0     0>
            , <&key_physical_attrs 100 100 1150  300       0     0     0>
            , <&key_physical_attrs 100 100 1250  300       0     0     0>
            , <&key_physical_attrs 175 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1650  300       0     0     0>
            , <&key_physical_attrs 100 100    0  400       0     0     0>
            , <&key_physical_attrs 150 100  125  400       0     0     0>
            , <&key_physical_attrs 100 100  275  400       0     0     0>
            , <&key_physical_attrs 150 100  375  400       0     0     0>
            , <&key_physical_attrs 700 100  525  400       0     0     0>
            , <&key_physical_attrs 150 100 1225  400       0     0     0>
            , <&key_physical_attrs 100 100 1375  400       0     0     0>
            , <&key_physical_attrs 150 100 1475  400       0     0     0>
            , <&key_physical_attrs 100 100 1650  400       0     0     0>
            ;
    };
    
    position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        layout0: layout0 {
            physical-layout = <&full_65_layout>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16>
                , < 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 >
                , < 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>
                , < 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63>
                , < 64 65 66 67         68          69 70 71 72 73>;   
        };

        layout1: layout1 {
            physical-layout = <&tsangan_65_layout>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16>
                , < 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 >
                , < 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>
                , < 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63>
                , < 64 65 66 67         68          69 70 71 72 73>;   
        };
    };
};
